* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.background_image {
    border-radius: 5px;
    height: 1000px;
    width: 100%;
    background-image: url(./background.jpg.jpg);
}
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2px;
}
.showhover{
    text-decoration: none;
    padding: 20px;
    color:white;
}
.showhover:hover{
    background-color: light rgb(202, 175, 175);
    color:aqua;
}
.portfolio{
    color:white;
    font-size:40px;
    letter-spacing:2px;
    padding:25px;
}
span{
    color:#f9004d;
}
nav span{
    background-color: rgb(107, 101, 101);
    padding: 5px;
    border-radius: 10px;
    height:55px;
}
.intro{
       margin:10px;
       padding:50px;
}
h1{
    color:white;
    padding: 5px;
}
h4, h3{
    padding:2px;
}
.style_em form{
    width: 400px;
    max-width: 100%;
    padding: 50px;
} 

.style_em form input:first-child{
    display: inline-block;
    width:100%;
    padding : 14px 130px 14px 15px; 
    border: 3px solid pink;
    border-radius: 30px;
}
.style_em form input:last-child{
    padding: 10px 50px;
    border-radius: 5px;
    border: 2px solid pink;
    margin: 5px;
    background-color: #f9004d;
    } 

.parent-skills {
    background-color: rgb(146, 138, 138);

}

.skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1100px;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.skills1 {
    line-height: 30px;
    padding-right: 30px;
}

.experience{
    height:78vh;
    font-size: 17px;
    margin: 20px;
    display:flex;
    flex-direction: row;
}

@media screen and (max-width: 600px) {
    .experience{
        margin-left: 0;
        margin-top:10px ;
    }
    .skills{
        margin: 0px;
    }
}
.experience_child{
    height: 78vh;
    background-color: none;
    padding: 15px;
    margin-left: 10px;
    border-radius: 10px;
    line-height: 30px;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section{
    background-color: aquamarine;
    min-height: 100vh;
    border-radius: 5px;
}

.profile{
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}
section h5{
    margin:40px;
}
main section{
    text-align: center;
}
footer {
    background-color: #333;
    overflow: hidden;
    margin-top: 20px;
    border-radius: 10px;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: whitesmoke;
}

.clothes {
    background-color: whitesmoke;
    margin-top: 20px;
    width: 100%;
    height: auto;

}
.space {
    line-height: 2.5; 
    font-family: sans-serif;
    
}
a .read_more:hover{
    font-size: 30px;
    color: lightblue;
}



<!-- THE CONTACT ME SECTION CODE STARTS FROM HERE >


* {
    box-sizing: border-box;

}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 15px 30px;
    padding: 50px;
}
.container{
    background-color: #f2f2f2;
    margin-top: 25px;
    padding: 50px 15px ;
    border-radius: 5px;
    border: 1px solid black  ; 
    line-height: 40px;     
}
input[type="submit"] {
    background-color: rgba(113, 182, 48, 0.815);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: aqua;
}


     